DATA 643 Project 1:

Angus, Pevan, Nathan

We built a simple recommender system for American TV sit-coms. This system will take user input for a sit com and predict the user's preference for possible unwatched sitcoms. This is similar in approach to systems used by Netflix, Hulu and Amazon Prime.

We used Facebook to collect data on 5 popular American TV sitcoms: The Big Bang Theory,	Brooklyn 99, It's Always Sunny in Philadelphia,	The Goldbergs, and The Unbreakable Kimmy Schmidt. Facebook friends were asked to rate these shows from 1 for 'Awful' to 5 for 'Outstanding' and to leave blank un-watched shows using a Google Docs Quiz. The data from the Google We will in turn use these data to generate a basic recommendation system for a test set of withheld data and unwatched shows. 

• Load your data into (for example) an R or pandas dataframe, a Python dictionary or list of lists, (or another data structure of your choosing). From there, create a user-item matrix.
• If you choose to work with a large dataset, you’re encouraged to also create a small, relatively dense “user-item” matrix as a subset so that you can hand-verify your calculations.
• Break your ratings into separate training and test datasets.
• Using your training data, calculate the raw average (mean) rating for every user-item combination.
• Calculate the RMSE for raw average for both your training data and your test data.
• Using your training data, calculate the bias for each user and each item.
• From the raw average, and the appropriate user and item biases, calculate the baseline predictors for every user-item combination.
• Calculate the RMSE for the baseline predictors for both your training data and your test data.
• Summarize your results.

In [ ]:
#import desired packages here:
import pandas as pd

In [16]:
tv_df = pd.read_csv('https://raw.githubusercontent.com/ncooper76/MSDA/master/TV_Show_Preferences.csv')
tv_df = tv_df.drop(columns=["Timestamp"])
tv_df.head()

,The Big Bang Theory,Brooklyn 99,It's Always Sunny in Philadelphia,The Goldbergs,Unbreakable Kimmy Schmidt
0,1.0,5.0,NaN,2.0,3.0
1,3.0,2.0,3.0,2.0,1.0
2,4.0,NaN,NaN,NaN,NaN
3,1.0,4.0,NaN,3.0,5.0
4,2.0,NaN,2.0,NaN,3.0

In [21]:
tv_df_mean = tv_df.stack().mean(skipna = True) #stack makes the DF one column, mean takes the mean of that colunm.
print(tv_df_mean) # 3.1279... agrees with the average taken in Google Sheets
#below are the means for the rows and the columns of the dataframe
tv_df_col_means = tv_df.mean(axis=0,skipna = True)
print(tv_df_col_means)
tv_df_row_means = tv_df.mean(axis=1,skipna = True)
print(tv_df_row_means)

3.127906976744186
The Big Bang Theory                  3.347826
Brooklyn 99                          3.500000
It's Always Sunny in Philadelphia    2.615385
The Goldbergs                        2.800000
Unbreakable Kimmy Schmidt            3.157895
dtype: float64
0     2.750000
1     2.200000
2     4.000000
3     3.250000
4     2.333333
5     2.750000
6     2.200000
7     5.000000
8     1.666667
9     4.000000
10    4.000000
11    3.500000
12    3.750000
13    5.000000
14    3.600000
15    4.500000
16    2.400000
17    4.400000
18    3.800000
19    5.000000
20    2.000000
21    3.666667
22    3.000000
23    1.600000
dtype: float64